/* import Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0px;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../sources/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #002636;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", "sans-serif";
    width: 100%;
    overflow: auto;
}

button {
    padding: 5px;
    font-weight: 500;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

.container {
    border-radius: 30px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #002636;
    font-size: 14px;
    background: rgba(0, 38, 54, 0);
    width: 260px;
    height: 26px;
    border-radius: 30px;
    border: 1px solid #002636;
}

.group {
    position: absolute;
    margin-top: 27px;
    font-size: 40px;
    left: 11%;
}

.name {
    position: absolute;
    margin-top: 27px;
    left: 20%;
    font-size: 20px;
}

.info p:nth-child(1) {
    position: absolute;
    margin-top: 36px;
    font-size: 24px;
    left: 50%;
}

.info p:nth-child(2) {
    position: absolute;
    margin-top: 36px;
    font-size: 24px;
    left: 80%;
}

.submit_button {
    position: relative;
    color: #002636;
    font-size: 14px;
    border-radius: 30px;
    background: rgba(0, 38, 54, 0.1);
    border: 1px solid #002636;
    width: 260px;
    height: auto;
}

#header {
    display: flex;
    background: rgba(255, 255, 255, 0.45);
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    height: 100px;
    position: relative;
}

#graph,
#parameters,
#table {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#graph {
    padding: 15px;
    background: rgba(255, 255, 255, 0.45);
    display: inline-block;
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-left: 50px;
}

#canvas_graph_figures,
#canvas_graph_points {
    position: absolute;
    left: 15px;
}

#parameters {
    font-size: 18px;
    padding: 15px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.45);
    width: auto;
    height: auto;
    position: relative;
}

#parameters div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#table {
    width: 470px;
    font-size: 18px;
    padding: 15px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.45);
    position: relative;
}

#table td {
    padding-right: 20px;
}

#xSlider {
    background-color: #0c0c0c;
}



.ui-slider {
    width: 100%;
}

.ui-slider.ui-slider-horizontal {
    background: #002636;
    height:1px;
    margin-bottom: 10px;
}

.ui-slider.ui-widget.ui-widget-content.ui-corner-all .ui-slider-handle {
    width: 0;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    left: 50%;
}

.ui-slider .ui-slider-handle::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /*background: rgba(255, 255, 255, 0.45);*/
    /*background: rgba(0, 38, 54, 0.1);*/
    border: 1px solid #002636;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 50%;
    margin-bottom: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.4em;
}

.ui-slider .ui-slider-range {
    border-radius: 30px;
    background: rgba(0, 38, 54, 0.1);
}

.ui-widget-content {
    margin-top: 10px;
}